body{
    background-color: rgb(0, 0, 0);
}
#list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
}
.square-wrapper{
    background-color: rgb(58, 58, 58);
    padding: 20px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc((100% - 120px) /7);
}

.fizz-buzz-box{
    background-color: rgb(70, 70, 70);
}
.fizz-box{
    background-color: rgb(109, 109, 109);
}
.buzz-box{
    background-color: rgb(241, 241, 241);
}